body {
    margin: 0;
    background-color: rgb(245, 230, 221);
    font-family: Arial, Helvetica, sans-serif;
}


header {
    color: white;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2vw;
}

#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

#left-partition {
    width: 100%;
}


#search-section {
    width:100%;
    margin-top: 20px;
    display: flex;
    flex: .8;
    flex-wrap: wrap;
    flex-direction:row-reverse ;
    margin-bottom: 2vw;
    justify-content: space-around;
}


#sidebar {
    display: flex;
    flex: .2;
    height: 800px;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    display: none;
    min-width: 280px;
}

#toggle-sidebar {
    height: 25px;
    width: 25px;
    cursor: pointer;
    align-content: center;
    margin-right: 20px;
    margin-top: 25px;
}

#toggle-sidebar:hover {
    scale: 1.2;
    transition: all ease-in-out .25s;
}


#sidebar.show {
    display: flex;
    transition: all ease-in-out .25s;
    width: 18%;
}

#flex-box.shrink {
    flex: .8;
    transition: all ease-in-out .25s;
}

#sidebar-title {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}


#fav {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 150vh;
    width: 100%;
    align-items: center;
}

.fav-item {
    width: 93%;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color:rgb(245, 230, 221);
    color: hsl(235, 24%, 19%);
    font-size: 1.2rem;
    text-overflow: ellipsis;
}


.fav-item-photo {
    width: 100%;
}

.fav-item-photo img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10%;

}

.fav-item-details {

    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 90%;
    height: 50px;
}

#fav-like-button {
   margin-left: 3px;
    border-radius: 10%;
    padding: 2px;
    height: 25px;
    font-size: small;
}

.fav-item-text {
    margin: 3px;
}

#fav-like-button:hover {
    cursor: pointer;
    background-color: red;
}

.fav-item.nothing {
    background-color: transparent;
    color: rgb(129, 128, 126);
    font-size: .8rem;
    text-decoration: none;
}

#search-input {
    width: 40vw;
    height: 35px;
    padding-left: 15px;
    border-radius: 40px;
    border: 2px solid rgb(244, 97, 39);
}


#result-section {
    height: auto;
    width: auto;
    min-width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}



.card {
    margin: 5px;
    min-width: 220px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: black;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.card-top {
    max-width: 220px;
    display: flex;
    flex-direction: column;
    flex: .85;
    word-wrap: break-word;
    /* border-radius: 20%; */
}

.dish-photo {
    overflow: hidden;
    position: relative;
}

.dish-photo img {
    height: 220px;
    width: 220px;
    object-fit: cover;
}

.dish-name {
    margin: 5px;
    width: 210px;
    height: 48px;
    color: white;
    font-size: 1.3rem;
    font-weight: bolder;
    display: grid;
    place-items: center;
}

.dish-details {
    color: rgb(255, 187, 145);
    width: 210px;
    height: 90px;
    margin: 5px;
    display: grid;
    align-items: center;
    text-overflow: ellipsis;
}

.card-bottom {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card:hover {
    transform: scale(1.05);
    transition: all ease-in-out .45s;
    cursor: pointer;
    color: #494949 !important;
    border-radius: 20px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
}

.card:hover img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.play svg {
    scale: 1.6;
}


.play svg:hover {
    scale: 1.8;
    transition: ease-in-out all .25s;
}

#no-meal-to-show {
    text-align: center;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

#flex-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#like-button {
    margin-left: 3px;
    border-radius: 10%;
    padding: 2px;
    height: 25px;
    font-size: small;
}

#like-button:hover {
    scale: 1.1;
    cursor: pointer;
}